.layer.zhongjyuan {
	border-radius: 10px;
	overflow: hidden;
	background-color: white;
	min-width: 300px;
}
.layer.zhongjyuan .layer-title {
	background-color: inherit;
	border-bottom: 1px solid transparent;
}

.layer.zhongjyuan .layer-btn0,
.layer.zhongjyuan .layer-btn1 {
	border-radius: 4px;
	font-size: 12px;
	padding: 0 1em;
}

.layer.zhongjyuan .layer-content .layer-input {
	margin: 0 auto;
	display: block;
	width: calc(100% - 50px);
	line-height: 20px;
	padding: 0.5em;
	outline: none;
}
