html {
	height: 100%;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体" !important;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#zhongjyuan {
	width: 100%;
	height: 100%;
	/*background: #2a2a2f no-repeat fixed;*/
	background-size: 100% 100%;
	transition: opacity 1s;
	/*禁用选中*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}
#zhongjyuan .opacity-enter-active,
.opacity-leave-active {
	transition: opacity 0.2s, transform 0.2s !important;
}
#zhongjyuan .opacity-leave-active,
.opacity-enter {
	transform: scale3d(0.9, 0.9, 1);
	opacity: 0 !important;
}

#zhongjyuan .shadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 2px;
}
#zhongjyuan .shadow-inside {
	box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 2px;
}
#zhongjyuan .shadow-hover:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 2px;
}
#zhongjyuan .shadow-inside-hover:hover {
	box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 20px 2px;
}
#zhongjyuan .mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

#zhongjyuan .selectable {
	-webkit-touch-callout: default; /* iOS Safari */
	-webkit-user-select: text; /* Chrome/Safari/Opera */
	-khtml-user-select: text; /* Konqueror */
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
}

#zhongjyuan .shader {
	position: fixed;
	width: 120%;
	height: 120%;
	left: -10%;
	top: -10%;
	background-color: rgba(0, 0, 0, 0.6);
}

#zhongjyuan .blur {
	-webkit-filter: blur(8px); /* Chrome, Opera */
	-moz-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=8, MakeShadow=false);
	transition: filter 0.3s;
	transition: -webkit-filter 0.3s;
	transition: -moz-filter 0.3s;
	transition: -ms-filter 0.3s;
}

#zhongjyuan .desktop {
	position: fixed;
	top: 0;
	width: 100%;
	height: calc(100% - 40px);
	z-index: 0;
	background-color: black;
}

#zhongjyuan .shortcut {
	width: 64px;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid transparent;
	transition: opacity 0.3s, top 0.3s, left 0.3s, border 0.3s,
		background-color 0.3s;
}

#zhongjyuan.small-screen .shortcut {
	width: 56px;
}

#zhongjyuan .shortcut.cut {
	opacity: 0.5;
}

#zhongjyuan .shortcut.move {
	transition: none;
	z-index: 3;
}

#zhongjyuan .shortcut.insert {
	border-bottom: 1px solid white;
}

#zhongjyuan .shortcut.over {
	background-color: rgba(62, 70, 167, 0.75);
}

#zhongjyuan > .desktop > .shortcut {
	position: absolute;
}

#zhongjyuan .shortcut:hover {
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: rgba(239, 255, 236, 0.25);
}

#zhongjyuan .icon > img {
	width: 100%;
	height: 100%;
}

#zhongjyuan .shortcut .icon {
	width: 40px;
	height: 40px;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	margin: 5px auto;
	color: white;
	position: relative;
	/*border: 1px solid rgba(255, 255, 255, 0.5);*/
}

#zhongjyuan.small-screen .shortcut .icon {
	width: 36px;
	height: 36px;
	font-size: 24px;
	line-height: 36px;
}

#zhongjyuan .shortcut .title {
	color: white;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 5px;
	transition: all 0.5s;
	height: 28px;
	overflow: hidden;
}

#zhongjyuan.small-screen .shortcut .title {
	font-size: 9px;
	line-height: 12px;
	height: 24px;
	margin-bottom: 2px;
}

#zhongjyuan .icon-drawer {
	width: 40px;
	height: 40px;
	margin: 5px auto;
	/*border: 1px solid rgba(255, 255, 255, 0.5);*/
	/*overflow: hidden;*/
	/*padding: 4px;*/
	position: relative;
	background-color: rgba(255, 255, 255, 0.19);
}

#zhongjyuan .icon-drawer .icon-drawer-pre {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: white;
}

#zhongjyuan .icon-drawer .icon-drawer-pre > img {
	width: 100%;
	height: 100%;
}

#zhongjyuan .icon-drawer .icon-drawer-pre:nth-child(1) {
	display: block;
	top: 3px;
	left: 3px;
}

#zhongjyuan .icon-drawer .icon-drawer-pre:nth-child(2) {
	display: block;
	top: 3px;
	left: 21px;
}

#zhongjyuan .icon-drawer .icon-drawer-pre:nth-child(3) {
	display: block;
	top: 21px;
	left: 3px;
}

#zhongjyuan .icon-drawer .icon-drawer-pre:nth-child(4) {
	display: block;
	top: 21px;
	left: 21px;
}

#zhongjyuan .desktop .win {
	position: absolute;
	opacity: 1;
	transition: opacity 0.3s;
}

#zhongjyuan .desktop .win .bar {
	position: relative;
	background-color: transparent;
}

#zhongjyuan .desktop .win.plugin .bar,
#zhongjyuan .desktop .win.plugin .address-bar {
	opacity: 0;
}

#zhongjyuan .desktop .win.plugin .bar:hover,
#zhongjyuan .desktop .win.plugin .address-bar:hover {
	opacity: 1 !important;
}

#zhongjyuan .desktop .win .bar-mask {
	background-color: white;
}

#zhongjyuan .desktop .win.active .bar-mask {
	background-color: black;
}

#zhongjyuan .desktop .win .bar .title {
	width: calc(100% - 156px);
	height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	color: #dad8d8;
	font-size: 14px;
	cursor: move;
	padding-left: 30px;
}

#zhongjyuan .desktop .win .bar.no-max .title {
	width: calc(100% - 140px);
}

#zhongjyuan .desktop .win.active .bar .title {
	color: white;
}

#zhongjyuan .desktop .win .init {
	position: absolute;
	width: 100%;
	height: calc(100% + 40px);
	top: -41px;
	left: 0;
	z-index: 2;
	background-color: #bbb5b5;
}

#zhongjyuan .desktop .win.addressBar-hidden .init {
	height: 100%;
	top: -1px;
}

#zhongjyuan .desktop .win .init .icon {
	font-size: 16px;
	display: inline-block;
	position: absolute;
	line-height: 20px;
	text-align: center;
	color: white;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
}

#zhongjyuan .desktop .win .bar-box {
	position: absolute;
	top: -80px;
	width: 100%;
	box-shadow: inherit;
}

#zhongjyuan .desktop .win.addressBar-hidden .bar-box {
	top: -40px;
}

#zhongjyuan .desktop .win .bar .title .icon {
	font-size: 16px;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 9px;
	left: 9px;
	line-height: 20px;
	text-align: center;
}

#zhongjyuan .desktop .win .bar .title:before {
	content: "  ";
	margin-left: 0.5em;
}

#zhongjyuan .desktop .win .bar .tools {
	float: right;
	cursor: default;
	text-align: right;
	height: 40px;
	overflow: hidden;
}

#zhongjyuan .desktop .win .bar .tools .tool {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.3s;
	background-size: 14px;
	background-position: center;
	background-repeat: no-repeat;
}

#zhongjyuan .desktop .win .bar .tools .tool:hover {
	background-color: rgba(255, 255, 255, 0.19);
}

#zhongjyuan .desktop .win .bar .tools .tool.close:hover {
	background-color: red;
}

#zhongjyuan .desktop .win .address-bar {
	background-color: rgb(242, 242, 242);
	position: relative;
	height: 40px;
	top: -1px;
	transition: all 0.3s;
	line-height: 40px;
	width: 100%;
	overflow: hidden;
	padding-left: 1em;
	box-sizing: border-box;
}

#zhongjyuan .desktop .win .address-bar .btns {
	color: black;
	line-height: 1.5em;
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
}

#zhongjyuan .desktop .win .address-bar .btns.disable {
	color: darkgrey;
}

#zhongjyuan .desktop .win .address-bar .btns:hover {
	background-color: rgba(0, 0, 0, 0.08);
}

#zhongjyuan .desktop .win .address-bar input {
	position: relative;
	bottom: -4px;
	margin-right: 3px;
	width: calc(100% - 166px);
	padding: 0.5em;
	color: grey;
	outline: none;
	float: right;
}

#zhongjyuan .desktop .win .win-drag-placeholder {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	top: -1px;
}

#zhongjyuan .desktop .win .win-drag-placeholder .win-move {
	position: absolute;
	width: 100%;
	height: 15px;
	left: -15px;
	bottom: -10px;
	cursor: move;
	z-index: 99;
}

#zhongjyuan .desktop .win .win-drag-placeholder .loading-box {
	opacity: 0.7;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgb(34, 34, 34);
	z-index: 2;
}

#zhongjyuan .desktop .win .win-drag-placeholder .loading-box > img {
	width: 200px;
	height: 150px;
	margin-top: -75px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
}

#zhongjyuan .desktop .win .win-drag-placeholder .frm {
	resize: none;
	background-color: white;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
}

#zhongjyuan .desktop .win.plugin {
	box-shadow: none;
}

#zhongjyuan .desktop .win.plugin .win-drag-placeholder .frm {
	background-color: transparent;
}

#zhongjyuan .desktop .win.plugin:hover .bar,
#zhongjyuan .desktop .win.plugin:hover .address-bar {
	opacity: 0.5;
}

#zhongjyuan .desktop .win .win-drag-placeholder {
	resize: none;
	position: relative;
	top: -1px;
	/*border: 1px solid darkgray;*/
}

#zhongjyuan .desktop .win.plugin .win-drag-placeholder {
	background-color: transparent;
	border: 1px solid transparent;
}

#zhongjyuan .desktop .win.plugin:hover .win-drag-placeholder {
	border: 1px solid darkgray;
}

#zhongjyuan .desktop .win .win-drag-placeholder.drag {
	background-color: rgba(240, 240, 240, 0.64);
}

#zhongjyuan .desktop .win .win-resize {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0;
	bottom: 0;
	cursor: se-resize;
	z-index: 99;
}

#zhongjyuan .bar {
	height: 40px;
	line-height: 40px;
	color: white;
	cursor: default;
	/*box-shadow: 0 0 16px #555;*/
}

#zhongjyuan .bar .powered-by {
	text-align: center;
	font-size: 12px;
	opacity: 0.3;
	letter-spacing: 1px;
	transition: all 0.3s;
}

#zhongjyuan .bar .powered-by.fade {
	opacity: 0.1;
}

#zhongjyuan > .bar {
	bottom: 0;
	width: 100%;
	z-index: 19930813;
	position: fixed;
	box-sizing: border-box;
}

#zhongjyuan .bar .plugin-icons {
	box-sizing: border-box;
	position: absolute;
	width: 146px;
	background-color: transparent;
	top: auto;
	bottom: 40px;
	right: 36px;
	min-height: 32px;
}
#zhongjyuan.small-screen .bar .plugin-icons {
	right: 22px;
}

#zhongjyuan .bar .plugin-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	padding: 2px;
}

#zhongjyuan .bar .plugin-icon .icon {
	font-size: 20px;
	width: 24px;
	height: 24px;
	position: relative;
	line-height: 24px;
	text-align: center;
	top: 2px;
	left: 5px;
}

#zhongjyuan .bar .plugin-icon:hover {
	background-color: rgba(255, 255, 255, 0.22);
}

#zhongjyuan .bar.top .plugin-icons {
	top: 40px;
	bottom: auto;
}

#zhongjyuan .bar .calendar-box {
	box-sizing: border-box;
	position: absolute;
	top: auto;
	bottom: 40px;
	right: 0;
	display: block;
	min-height: 32px;
	z-index: -1;
}
#zhongjyuan .bar.top .calendar-box {
	top: 40px;
	bottom: auto;
}
#zhongjyuan .bar .btn {
	min-width: 28px;
	text-align: center;
	line-height: inherit;
	font-size: 18px;
	transition: all 0.5s;
	float: left;
	height: 100%;
	padding: 0 6px;
	position: relative;
	margin-right: 1px;
}

#zhongjyuan .bar .btn:hover {
	background-color: rgba(255, 255, 255, 0.15) !important;
}

#zhongjyuan .bar .btnStartOpen {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

#zhongjyuan .bar #zhongjyuan-btn-right-bottom {
	border-left: rgba(255, 255, 255, 0.6) 1px solid;
	width: 4px;
	margin-left: 3px;
	padding: 0;
	float: right;
	min-width: 0;
}

#zhongjyuan.small-screen .bar #zhongjyuan-btn-right-bottom {
	width: 32px;
}

#zhongjyuan .bar .btn.win-task .icon {
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	float: left;
	position: relative;
	top: 9px;
	margin-left: 0.5em;
	margin-bottom: 20px;
}

#zhongjyuan .bar .btn.win-task .title {
	color: white;
	text-align: left;
	font-size: 12px;
	line-height: 40px;
	float: left;
	margin: 0 0.5em;
	width: calc(100% - 50px);
	white-space: nowrap;
	text-overflow: ellipsis;
	height: inherit;
	overflow: hidden;
}

#zhongjyuan .bar .btn.win-task .line {
	position: absolute;
	bottom: 0;
	height: 3px;
	width: calc(100% - 10px);
	transition: all 0.5s;
	background-color: rgba(255, 255, 255, 0.47);
	left: 5px;
}

#zhongjyuan .bar.top .btn.win-task .line {
	top: 0;
	bottom: auto;
}

#zhongjyuan .bar .btn.win-task:hover .line {
	width: calc(100% - 0px);
	left: 0;
}

#zhongjyuan .bar .btn.win-task.active .line {
	width: calc(100% - 0px);
	left: 0;
}

#zhongjyuan .bar .btn.win-task {
	min-width: 0;
	max-width: 150px;
	text-align: left;
	overflow: hidden;
	padding: 0;
	height: 100%;
}

#zhongjyuan .bar .btn.win-task.active {
	background-color: rgba(191, 191, 191, 0.25);
}

#zhongjyuan .badge {
	background-color: #ff4949;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
	text-align: center;
	white-space: nowrap;
	/*border: 1px solid #fff;*/
	top: 0;
	right: 10px;
	position: absolute;
	transform: translateY(-50%) translateX(100%);
}

#zhongjyuan .desktop .background-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: transparent;
}

#zhongjyuan .desktop .background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -999;
	transform: scale3d(1.1, 1.1, 1);
	background-size: auto 100%;
	background-position: center center;
}

#zhongjyuan .desktop .background.cross {
	background-size: 100% auto;
}

#zhongjyuan .drawer {
	position: absolute;
	width: 40%;
	max-width: 600px;
	min-height: 240px;
	left: 50%;
	top: 50%;
	border: 1px solid rgba(255, 255, 255, 0.54);
	max-height: 500px;
	overflow: auto;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.29);
	color: white;
	transform: translate(-50%, -50%);
	overflow-x: hidden;
	box-sizing: border-box;
}

#zhongjyuan.small-screen .drawer {
	width: 284px;
}

#zhongjyuan .drawer .line {
	line-height: 40px;
}

#zhongjyuan .drawer .line span {
	width: 78px;
	text-align: right;
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
}

#zhongjyuan.small-screen .drawer .line span {
	width: 50px;
}

#zhongjyuan .drawer .line input {
	background-color: transparent;
	color: white;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0.4em;
	width: calc(100% - 12em);
}

#zhongjyuan.small-screen .drawer .line input {
	width: 10em;
}

#zhongjyuan .drawer .line input:first-child {
	width: 42px;
	margin-left: 28px;
	margin-right: 15px;
	text-align: right;
}

#zhongjyuan.small-screen .drawer .line input:first-child {
	margin-left: 0;
}

#zhongjyuan .drawer .line input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

#zhongjyuan .drawer .line i {
	color: rgba(255, 255, 255, 0.5);
	margin-left: 0.5em;
	cursor: pointer;
	transition: all 0.3s;
}

#zhongjyuan .drawer .line i:hover {
	color: white;
}

#zhongjyuan .drawer > .shortcut {
	display: inline-block;
	position: relative;
}

#zhongjyuan .drawer > .title {
	font-size: 14px;
	box-sizing: border-box;
	color: white;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	line-height: 34px;
	margin-bottom: 1em;
}

#zhongjyuan .drawer > .title > .btn-advance {
	float: right;
	border: 1px solid;
	padding: 0.5em;
	line-height: 10px;
	position: relative;
	top: 3px;
	font-size: 12px;
	opacity: 0.8;
	transition: all 0.3s;
	cursor: pointer;
}

#zhongjyuan .drawer > .title > .btn-advance:hover {
	opacity: 1;
}

/*#zhongjyuan .drawer>.shader{*/
/*position: fixed;*/
/*background: rgba(0, 0, 0, 0);*/
/*width: 100%;*/
/*height:100%;*/
/*left: 0;*/
/*top:0;*/

/*}*/

#zhongjyuan .startMenu {
	position: fixed;
	left: 0;
	cursor: default;
	overflow: hidden;
	z-index: 19930000;
	top: auto;
	bottom: 40px;
	transition: opacity 0.3s;
	height: calc(100% - 40px);
	width: 100%;
}

#zhongjyuan .startMenu.topTaskBar {
	top: 40px;
	bottom: auto;
}

/*左侧边栏*/
#zhongjyuan .startMenu .sidebar {
	width: 48px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.3s;
	overflow: hidden;
	z-index: 20;
}

#zhongjyuan .startMenu .sidebar.spread {
	width: 256px;
}

#zhongjyuan .startMenu .sidebar .btn-group {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#zhongjyuan .startMenu .sidebar .btn {
	min-width: 28px;
	width: 256px;
	text-align: left;
	line-height: 52px;
	font-size: 18px;
	transition: all 0.5s;
	float: left;
	position: relative;
	color: white;
	padding-left: 12px;
}

#zhongjyuan .startMenu .sidebar .btn:hover {
	background-color: rgba(255, 255, 255, 0.15) !important;
}

#zhongjyuan .startMenu .sidebar .btn .icon {
	font-size: 16px;
	display: inline-block;
	position: relative;
	width: 23.14px;
	height: 23.14px;
	line-height: 23.14px;
	text-align: center;
}

#zhongjyuan .startMenu .sidebar .btn .icon > img {
	width: 100%;
	height: 100%;
	position: relative;
	top: 4px;
}

#zhongjyuan .startMenu .sidebar .title {
	padding-left: 20px;
	line-height: inherit;
	font-size: 14px;
}

#zhongjyuan .startMenu .menu {
	position: absolute;
	overflow-x: hidden;
	width: 224px;
	height: calc(100% - 32px);
	z-index: 16;
	padding: 16px;
	transition: left 0.3s;
	left: 48px;
}

#zhongjyuan.small-screen .startMenu .menu {
	width: calc(100% - 80px);
}

#zhongjyuan .startMenu .menu .item {
	color: white;
	line-height: 34px;
	position: relative;
	padding-right: 10px;
	transition: all 0.2s;
	overflow: hidden;
	height: 0;
}

#zhongjyuan .startMenu .menu .item.open {
	height: 34px;
}

#zhongjyuan .startMenu .menu .item:hover {
	background-color: rgba(255, 255, 255, 0.15) !important;
	padding-left: 2px;
}

#zhongjyuan .startMenu .menu .item .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	top: 2px;
}

#zhongjyuan .startMenu .menu .item .icon-drawer {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0;
}

#zhongjyuan .startMenu .menu .item .icon-drawer .icon-drawer-pre {
	width: 12px;
	height: 12px;
	font-size: 10px;
	line-height: 12px;
	overflow: hidden;
}

#zhongjyuan .startMenu .menu .item .icon-drawer .icon-drawer-pre:nth-child(1) {
	top: 2px;
	left: 2px;
}

#zhongjyuan .startMenu .menu .item .icon-drawer .icon-drawer-pre:nth-child(2) {
	top: 2px;
	left: 16px;
}

#zhongjyuan .startMenu .menu .item .icon-drawer .icon-drawer-pre:nth-child(3) {
	top: 17px;
	left: 2px;
}

#zhongjyuan .startMenu .menu .item .icon-drawer .icon-drawer-pre:nth-child(4) {
	top: 17px;
	left: 16px;
}

#zhongjyuan .startMenu .menu .item .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0;
	overflow: hidden;
}

#zhongjyuan .startMenu .menu .item .title {
	font-size: 12px;
	line-height: inherit;
	margin-left: 40px;
}

#zhongjyuan .startMenu .menu .item .arrow {
	position: absolute;
	line-height: inherit;
	right: 0;
	bottom: 0;
	width: 1.5em;
	padding-right: 0.5em;
	transition: all 0.2s;
	color: rgba(255, 255, 255, 0.6);
}

#zhongjyuan .startMenu .menu .item .arrow.open {
	bottom: -34px;
}

#zhongjyuan .startMenu .startMenu-resize {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0;
	top: 0;
	cursor: ne-resize;
	z-index: 99;
}
#zhongjyuan .startMenu.topTaskBar .startMenu-resize {
	top: auto;
	bottom: 0;
	cursor: se-resize;
}
#zhongjyuan .center {
	color: white;
	/*background-color: rgba(0, 0, 0, 0.82);*/
	width: 360px;
	height: calc(100% - 40px);
	position: fixed;
	right: -360px;
	top: 0;
	/*box-shadow: 0 0 16px #555;*/
	z-index: 19930003;
	transition: all 0.5s;
}

#zhongjyuan.small-screen .center {
	width: 100%;
	right: -100%;
}

#zhongjyuan .center.open {
	right: 0;
}

#zhongjyuan .center .banner {
	color: white;
	line-height: 54px;
	font-size: 16px;
	padding-left: 1em;
	font-weight: bold;
	position: relative;
	margin-bottom: 20px;
}

#zhongjyuan .center .banner .clear {
	position: absolute;
	bottom: 0;
	right: 16px;
	font-size: 12px;
	color: #ffffff82;
	line-height: 12px;
	cursor: pointer;
	transition: all 0.2s;
}

#zhongjyuan .center .banner .clear:hover {
	color: white;
}

#zhongjyuan .center .banner.no-msg {
	position: absolute;
	width: 100%;
	color: #ffffff82;
}

#zhongjyuan .center .msgs {
	overflow: auto;
	height: calc(100% - 120px);
}

#zhongjyuan .center .msg {
	padding: 8px;
	margin: 14px;
	transition: all 0.2s;
	position: relative;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.1);
}

#zhongjyuan .center .msg .title {
	color: #e3e3e3;
	font-size: 16px;
	line-height: 36px;
	transition: all 0.5s;
}

#zhongjyuan .center .msg .content {
	color: rgba(255, 255, 255, 0.64);
	font-size: 12px;
	line-height: 18px;
	transition: all 0.5s;
	word-break: break-all;
}

#zhongjyuan .center .msg:hover .title {
	color: #f3f3f3;
}

#zhongjyuan .center .msg:hover .content {
	color: #f3f3f3;
}

#zhongjyuan .center .msg .btn-close {
	color: #e3e3e3;
	float: right;
	position: relative;
	right: -30px;
	transition: all 0.2s;
	cursor: pointer;
}

#zhongjyuan .center .msg:hover .btn-close {
	right: 0;
}

/*消息预览框*/
#zhongjyuan .msg-attention {
	margin: 5px;
	padding: 12px;
	height: 140px;
	width: 240px;
	overflow: hidden;
	position: fixed;
	z-index: 19930004;
	right: 0;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.53);
}

#zhongjyuan .msg-attention .title {
	font-size: 20px;
	line-height: 27px;
	font-weight: bold;
	margin-bottom: 15px;
	height: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#zhongjyuan .msg-attention .content {
	font-size: 12px;
	line-height: 18px;
	/*color: grey;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

#zhongjyuan .msg-attention .mask-msg {
	position: absolute;
	bottom: 0;
	height: 24px;
	width: 100%;
}

#zhongjyuan-btn-center {
	background: url(../../res/img/icon/message.svg) center 56% no-repeat;
	background-size: 22px;
}
